/*===================================================== ГЛАВНАЯ */
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #242424;
    background-color: #FFFFFF;
}

.page-header {
    background: #FFFFFF;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    width: 350px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 250px;
    margin-left: auto;
  }

.navigation-link {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    text-decoration: none;
}

/*======================== КНОПКА */
.button-head {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 37px;
    background-color: #756257;
    color: #FFFFFF;
}

.main-screen {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../image/index-background.jpg");
    background-size: 100% auto;
    text-align: center;
    background-repeat: no-repeat;
    width: 1200px; 
    height: 485px;
    margin: 0 auto;
}

.main{
    margin-top: 50px;
}

.main-container {
    flex-grow: 1;
}

.main-title {
    padding-top: 63px;
    padding-bottom: 15px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    line-height: normal;
    font-size: 30px;
    width: 720px; 
    height: 80px;
    margin: 0 auto;
}

.subtitle {
    padding-top: 23px;
    padding-bottom: 79px;
    text-align: center;
    color: #333333;
    line-height: normal;
    font-size: 22px;
    width: 720px; 
    height: 37px;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}
/*============================================== Преимущества блок 1 */
.advantages-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
    text-align: center;   
}

.first-block {
    display: flex;
    margin: 0 auto;
} 

.advantages {
    display: flex;
    width: 400px;
    height: 384px;
    margin: 0 auto;
    margin-left: auto;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-foto {
    display: flex;
    width: 800px;
    margin-right: auto;
}

/*============================================== Преимущества БЛОК ИКОНОК */

.advantages-list-icon {
    display: flex;
    justify-content: space-between;
}
.advantages-item {
    width: 400px;
    height: 384px;
}

/*.advantages-item-home {
    background-image: url("../image/icon-1.png");
    background-repeat: no-repeat;
}
.advantages-item-meal {
    background-image: url("../image/icon-2.png");
    background-repeat: no-repeat;
}
.advantages-item-souvenirs {
    background-image: url("../image/icon-3.png");
    background-repeat: no-repeat;
}*/

/*============================================== Преимущества блок 2 */

.advantages-title-two {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-description-two {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
    text-align: center;   
}

.second-block {
    display: flex;
    margin: 0 auto;
} 


.advantages-foto {
    display: flex;
    width: 800px;
    margin-left: auto;
}

.advantages-two {
    display: flex;
    width: 400px;
    height: 384px;
    margin: 0 auto;
    margin-right: auto;
    background-color: #83B3D3;
    color: #FFFFFF;
}
/*============================================== Преимущества блок 3*/

.advantages-list-third {
    display: flex;
    justify-content: space-between;

}

.advantages-item-third {
    width: 400px;
    height: 384px;
}


/*==============================================Блок подписки*/

.mailing {
    color: #FFFFFF;
    background-image: url("../image/background(1).jpg");
    width: 1000px; 
    height: 485px;
    text-align: center;
    
}
 
.button-newsletter-button {
    color:#FFFFFF;
    background-color: #83B3D3;
    width: 200px;
    height: 60px;
}
    /*============================================== Блок поиска гостиниц*/

.search-hotel{
    width: 1200px;
    height: 420px;
}
.search-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px; 
    text-align: center;
    color: #000000;
}
.search-description-date {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px; 
    text-align: center;
    color: #333333;
}
.button-search {

    font-weight: bold;

    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    width: 575px;
    height: 60px;
    background-color: #756257;
    color: #FFFFFF;
}
    /*============================================== Блок подписки */
.mailing-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.mailing {
    width: 1200px;
    height: 411px;
    left: 40px;
    background-image: url("../image/catalog-background1.jpg");
    background-repeat: no-repeat;
}


/*===================================================== Footer */
.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.footer-social {
    width: 200px;
    margin-right: auto;
}

.phone {
    width: 720px;
    text-align: center;
}

.htmlacademy {
    width: 200px;
    margin-left: auto;
}

/*===================================================== КАТАЛОГ */

.catalog-filter {
    background-image: url("../image/catalog-background1.jpg");
    background-repeat: no-repeat; 
    width: 1200px;
    height: 600px; 
}

.button-Amara,
.button-Desert,
.button-Villas,
.button-GreenTree {
    width: 151px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF
}

.button-Villas-two {
    width: 151px;
    height: 37px;
    background-color: #7DB54F;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF
}

.button-Amara-Two,
.button-Desert-Two,
.button-GreenTree-Two {
    width: 151px;
    height: 37px;
    background-color: #83B3D3;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF
}

.button-pagination-show-more {
    width: 625px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #FFFFFF
}

.pagination-item-one {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #000000  
}

.pagination-item {
    width: 55px;
    height: 55px;
    margin-top: 5px;
    background-color: #83B3D3;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}



