/*===================================================== ГЛАВНАЯ */
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #242424;
    background-color: #FFFFFF;
}

.page-header {
    background: #FFFFFF;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/*===================================================== Шапка*/
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.logo {
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0;
    list-style-type: none;
}


.search-icon {
    padding-top: 26px;
    padding-right: 15px;
}

.favourites-icon {
    padding-top: 20px;
    padding-right: 20px;
}

.navigation-item {
    padding-right: 10px;
    padding-right: 30px;
    padding-top: 20px;
}

.navigation-link {
    font-family: "PT sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    text-decoration: none;
    color: #000000;
}


.navigation-link:hover {
    color: #756257;
    text-shadow: 0px 4px 4px;
}

.navigation-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.button-head {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 37px;
    border: none;
    background-color: #756257;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}

.button-head:hover {
    background: #615048;
}

.button-head:focus { 
    border: 3px solid #83B3D3;
}
.navigation-button {
    padding-top: 14px;
}


/*=====================================================*/

.main-screen {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../image/index-background.jpg");
    background-size: 100% auto;
    text-align: center;
    background-repeat: no-repeat;
    width: 1200px; 

}

.main{
    margin-top: 50px;
    padding-top: 50px;
}

.decoration {
    width: 1200px;
    height: 57px;
    background-image: url("../image/dekor.svg");
}

.main-container {
    flex-grow: 1;
}

.main-title {
    padding-top: 63px;
    padding-bottom: 23px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    line-height: normal;
    font-size: 30px;
    width: 720px; 
    height: 80px;
    margin: 0 auto;
}

.subtitle {
    padding-top: 23px;
    padding-bottom: 79px;
    text-align: center;
    color: #333333;
    line-height: normal;
    font-size: 22px;
    width: 720px; 
    height: 37px;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}
/*============================================== Преимущества блок 1,2 */

.advantages-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 93px;
}

.advantages-list {
    text-align: center;
}

.advantages-description-one {
    margin: 0;
    padding-top: 25px;
}

.advantages-description {
    width: 220px;
    height: 73px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
    margin: auto;
    padding-top: 25px;
}

.first-block {
    display: flex;
    justify-content: space-between;
} 

.advantages {
    width: 400px;
    height: 384px;
    margin-left: auto;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.second-block {
    display: flex;
    margin: 0 auto;
} 

/*============================================== Преимущества БЛОК ИКОНОК */

.advantages-icon {
    display: flex;
    justify-content: space-between;
}

.advantages-home,
.advantages-eat,
.advantages-gift {
    width: 400px;
    height: 384px;
}

.icon-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 184px; 
}

.icon-description {
    width: 250px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.icon-home {
    background-image: url("../image/icon-1.png");
    background-repeat: no-repeat;
    background-position: 162px 89px;
}

.icon-eat {
    background-image: url("../image/icon-2.png");
    background-repeat: no-repeat;
    background-position: 162px 89px;
}

.icon-gift {
    background-image: url("../image/icon-3.png");
    background-repeat: no-repeat;
    background-position: 162px 89px;
}


/*============================================== Преимущества блок 3*/

.advantages-list-third {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    list-style-type: none;
}

.advantages-item-third {
    width: 400px;
    height: 384px;
}

.advantages-number {
    margin: 0;
    padding-top: 25px;
}

.advantages-third {
    margin: 0;
    padding-top: 25px;
}

.title-third {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 98px;
    margin: 0;
    }

.fill {
    background-color: rgba(131, 179, 211, 0.2);
}

/*==============================================Блок подписки Главная страница*/

.button-newsletter {
    color:#FFFFFF;
    background-color: #83B3D3;
    width: 200px;
    height: 62px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

.button-newsletter:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}
.button-newsletter:hover {
    background: #68A2CA;
}


.field {
    width: 600px;
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    border: none;
    padding-left: 22px
}

.newsletter-email {
    display: flex;
    padding-left:  185px;
    padding-top: 50px;
    padding-bottom: 60px;
}


.mailing-list {
    list-style-type: none;
}

.mailing-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 94px;
}

.mailing-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 15px;
}

.mailing-button {
    display: flex;
    padding-top: 50px;
    margin-left: 390px;
}

.mailing-block {
    width: 1200px;
    background-image: url("../image/background1.jpg");
    padding: 0;
    margin-top: 90px;
}

.email-adress {
    margin: 0;
}

    /*============================================== Блок поиска гостиниц*/

.search-hotel {
    width: 1200px;
    margin: 0;
}

.search-title {
    font-family: PT Sans;
    font-style: normal;
    font-size: 30px;
    line-height: 36px; 
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 90px;
    margin: 0;
}

.search-description-date {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px; 
    text-align: center;
    color: #333333;
    padding-top: 30px;
    padding-bottom: 70px;
    margin: 0;

}
.button-search {
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    width: 575px;
    height: 60px;
    background-color: #756257;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 312px;
    border: none;
    cursor: pointer;
}

.button-search:hover {
    background: #615048;
}

.button-search:focus {
    background: #615048;
    border: 3px solid #83B3D3;
    box-sizing: border-box;
}

.search-hotels {
    padding-top: 73px;
    padding-bottom: 90px;
}

/*===================================================== Footer */

.button-twitter {
    width: 30px;
    height: 30px;
    background-image: url("../image/twitter.svg");
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
}
.button-facebook {
    width: 30px;
    height: 30px;
    background-image: url("../image/facebook.svg");
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
}

.button-youtube {
    width: 30px;
    height: 30px;
    background-image: url("../image/youtube.svg");
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
}

.page-footer {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.footer-social {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    list-style-type: none;
    margin: 0;
}

.footer-social-item{
    margin-right: 8px;
    padding-top: 40px;
}

footer-social-item:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.footer-phone {
    width: 720px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;  
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-top: 35px;
    padding-bottom: 25px;
}

.footer-phone:hover {
    color: #756257;
}

.footer-phone:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
}

.footer-logo {
    padding-top: 42px;
    padding-left: 52px;
    cursor: pointer;
    
}


/*===================================================== КАТАЛОГ фильтр*/

.catalog-filter {
    width: 1200px;
    background-image: url("../image/catalog-background1.jpg");
}

.catalog-filter-group {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-bottom: 87px;
}

.inner-header-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    margin-bottom: -5px;
    color: #FFFFFF;
    padding-top: 35px;
    padding-left: 70px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding-left: 70px;
    cursor: pointer;
}

.breadcrumbs-link {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 25px;
    cursor: pointer;
}

.control-label,
.filter-throw {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}


.catalog-filter-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;  
    color: #FFFFFF;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 30px;
}

.catalog-title {
    width: 620px;
    margin: 0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    padding-left: 70px;
    padding-top: 53px;
    padding-bottom: 35px;
}

.catalog-filter-1 {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-left: 30px;
}

.catalog-filter-2 {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-left: 30px;
}

.catalog-filter-3 {
    width: 325px;
}

.catalog-filter-input {
    width: 145px;
    height: 48px;
}

.catalog-filter-4 {
    width: 250px;
}
.botton-filter {
    width: 160px;
    height: 48px;
    background-color: #83B3D3;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 76px;
}

.filter-throw {
    width: 160px;
    height: 23px;
    background: transparent;
    border: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}



/*===================================================== СОРТИРОВКА*/

.sorting {
    display: flex;
    width: 1057px;
    margin: 0 auto;
    margin-top: 44px;
}

.sorting-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding-left: 20px;

}

.select-control {
    width: 287px;
    height: 47px;
    margin-left: 190px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}
.sorting-button-1 {
    width: 47px;
    height: 47px;
    background-image: url(../image/sorting-1.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-left: 81px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}
.sorting-button-2 {
    width: 47px;
    height: 47px;
    background-image: url(../image/sorting-2.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-left: 8px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}
.sorting-button-3 {
    width: 47px;
    height: 47px;
    background-image: url(../image/sorting-3.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-left: 8px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}





/*===================================================== КАТАЛОГ*/

hr {
    width: 1056px;
    border: 1px solid #E6E6E6;
    margin-top: 28px;
    margin-bottom: 28px;
}

.cadr-list {
 width: 1056px;
 list-style-type: none;
 margin: 0;
 margin-left: auto;
 margin-right: auto;
 padding-top: 40px;
}

.hotel-card-title {
    margin: 0;
}

.card-content {
    margin-left: 36px;
}

.amara-rating {
    background-image: url("../image/stars-1.svg");
    background-repeat: no-repeat;
    margin-left: 310px;
}
.desert-rating {
    background-image: url("../image/stars-2.svg");
    background-repeat: no-repeat;
    margin-left: 310px;
}
.villas-rating {
    background-image: url("../image/stars-3.svg");
    background-repeat: no-repeat;
    margin-left: 310px;
}
.greentree-rating {
    background-image: url("../image/stars-3.svg");
    background-repeat: no-repeat;
    margin-left: 310px;
}

.amara-resort,
.desert-quail,
.villas-at-poco,
.greentree {
    display: flex;
    margin-bottom: 10px;
}

.stars-amara {
    width: 95px;
    height: 17px;
    background-image: url("../image/stars-1.svg");
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 403px;
}

.stars-desert {
    width: 95px;
    height: 17px;
    background-image: url("../image/stars-2.svg");
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 403px;
}

.stars-villas,
.stars-greentree {
    width: 95px;
    height: 17px;
    background-image: url("../image/stars-3.svg");
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 403px;
}

.hotel-card {
    width: 160px;
    height: 37px;
    background-color: #F2F2F2;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-left: -125px;
    margin-top: 83px;
}


.button-Amara,
.button-Desert,
.button-Villas,
.button-GreenTree {
    width: 151px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: -27px;
}

.button-Amara:hover,
.button-Desert:hover,
.button-Villas:hover,
.button-GreenTree:hover {
    background: #615048;
}

.button-Amara-Two:hover,
.button-Desert-Two:hover,
.button-GreenTree-Two:hover {
    background: #68A2CA;
}

.button-Villas-two:hover {
    background: #6C9E42;
}

.button-Villas-two:focus {
    background: #6C9E42;  
    border: 3px solid #756257;
}

.button-Amara:focus,
.button-Desert:focus,
.button-Villas:focus,
.button-GreenTree:focus {
    background: #615048;
    border: 3px solid #83B3D3;
}

.button-Amara-Two:focus,
.button-Desert-Two:focus,
.button-GreenTree-Two:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.button-Villas-two {
    width: 151px;
    height: 37px;
    background-color: #7DB54F;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: -27px;
}

.button-Amara-Two,
.button-Desert-Two,
.button-GreenTree-Two {
    width: 151px;
    height: 37px;
    background-color: #83B3D3;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: -27px;
}

/*===================================================== Блок подписки страница каталога*/

.mailing-katalog {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.mailing-title-katalog {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-top: 90px;

}

.newsletter-email-katalog {
    display: flex;
    padding-top: 50px;
    padding-bottom: 140px;
}

.mailing-description-katalog {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;  
    color: #333333;

}

.button-pagination-show-more {
    width: 625px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    margin-left: 288px;
    cursor: pointer;
    border: none;
}

.button-pagination-show-more:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.button-pagination-show-more:hover {
    background: #68A2CA;
}

/*===================================================== ПАГИНАЦИЯ*/

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-container {
    display: flex;
    margin-top: 60px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}

.pagination-current {
    background: #F2F2F2;
    color: #000000;
}

.select-control {
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
}
.sorting-type {
    margin-left: auto;
}
